/*# NAVBAR #*/
.Container {
  background-color: black;
}

.navbar {
  height: 100px;
  display: flex;
}

.navbar h1 {
  color: red;
  margin-left: 10px;
}

.search-bar {
  margin-right: 10px;
}

/*# MAIN #*/
main .Container {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.card-miniature {
  margin-top: 50px;
  background-color: black;
  height: 500px;
  width: 350px;
  margin-left: 50px;
  margin-top: 35px;
}
